body {

    font-family: 'Cabin', sans-serif;
    margin: 0;

}

.peter {
    color: orange;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.half-width {
    width: 50%;
    padding-left: 10%;
}

.half-width img {
    width: 100%;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font: 700;
    border-radius: 10px;
    padding: 10px 40px;
}

.top-banner {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;

}

.dream-big {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.unique {
    display: flex;
    margin-bottom: 150px;
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;

}

.box {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    width: 50%;
    padding-left: 10%;


}

#box1 {
    border-left: 7px solid orangered;

}

#box2 {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}